<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>109.551939</string>
		<string>35.2062</string>
		<string>西北农林科技大学苹果试验站</string>
		<string>坐落于咸阳市渭南市白水县的苹果试验站</string>
	</array>
	<array>
		<string>108.069558</string>
		<string>34.265518</string>
		<string>西北农林科技大学苹果研究中心</string>
		<string>坐落于西北农林科技大学北校区的苹果研究中心</string>
	</array>
</array>
</plist>
